/* .App {
    text-align: center;
} */

body {
    background-color: #bbebf0 !important;
}

.form-error {
    font-size: small;
    color: red;
}

.colorBox {
    height: 250px;
    width: 250px;
    border: 1px solid black;
}

.header-text {
    text-decoration: none;
    color: #000000;
    font-size: medium;
}